.about-me {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2rem;
    text-align: center;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #333;
    animation: fadeIn 0.5s ease-in;
}

.about-me p {
    margin: 1em 0;
    font-size: 1.1rem;
    letter-spacing: 0.03em;
    font-weight: 300;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* 移动端适配 */
@media (max-width: 600px) {
    .about-me {
        padding: 0.5rem auto;
        margin: 1.8rem auto;
    }
    
    .about-me p {
        font-size: 0.8rem;
        line-height: 1.4;
    }
}
